<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p> 
<% end %>

<% current_cart.line_items.each do |line_item| %>
  <p><%= link_to line_item.item.title, item_path(line_item.item) %> | <%= number_to_currency(line_item.item.price) %> | Quantity: <%= line_item.quantity %></p>
<% end %>

<p>Order total: <strong><%= number_to_currency(current_cart.total.to_f/100) %></strong> </p>

<%= button_to 'Checkout', checkout_path unless current_cart.status == "submitted" %>