<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %> | 
<% end %>

<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>
    <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %> <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
<% end %>
</ul>